body{
    margin:0;
    position:relative;
    min-height: 100vh;
    padding-bottom: 120px;
    box-sizing: border-box;
  }
  
  header {
    margin-bottom: 30px;
    border-bottom: 7px solid cadetblue;
  }

  h1{
    margin-top: 30px;
    margin-left: 30px;
    box-sizing: border-box;
  }

  footer{
    padding:30px;
    background-color: cadetblue;
    display:flex ;
    justify-content: flex-end;
    position: absolute;
    bottom:0;
    width:100%;
  }

  .maincontainer{
    margin: 30px;
  }

  .error {
    background-color: firebrick;
    padding: 5px;
    width:450px;
    color: white;
    font-weight: bold;
    text-align: center;
  }

  table{
    border-collapse: collapse;
    border: 1px solid black;
  }

  table th {
    background-color: #006699;
    padding: 10px 20px;
    color:white;
    border: 1px solid gray;
  }

  table td {
    background-color: #D7EEFF;
    padding: 10px 20px;
    border: 1px solid gray;
  }

  .notice {
    background-color: #ccf;
    padding: 5px;
    width:450px;
  }

  ul{
    list-style: none;
    padding-left: 0;
  }

  h2 {
    padding-right: 100px;
    box-sizing: border-box;
  }